@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #313167;
  --background-start-rgb: #313167;
  --background-end-rgb: #313167;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #313167;
    --background-start-rgb: #313167;
    --background-end-rgb: #313167;
  }
}

body {
  background-color: #313167;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
